*node_module*
firebase_admin_key.json
run_sim.sh
*.DS_Store
*npm-debug.log
*.crt
*.key
*.swp
web_frontend/functions/aws_config.json
vscode_workspace.code-workspace
web_frontend/functions/smc-unit-testing-4d6be806760e.json
